*{
    margin: 0;
    padding: 0;
}

#hero{
    height: 615px;
    background-image: url(../assets/Hero-bg.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content{
    width: 685px;
    margin: 0 auto;
    gap: 20px;
    text-align: center;
}

#hero .hero-content.title{
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 700 ;
    line-height: 50px;
    text-align: center;
}   

#hero .hero-content.description{
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700 ;
    line-height: 50px;
    text-align: center;
    opacity: 0.7;
}
.button{
    padding: 10px ;
    background-color: #0D1321;
    color:#FFFFFF;

}
.button-container{
    text-align: center;
}

#parents{
    display: flex;
}



#header{
    text-align: center;
}

.web-description{
    text-align: center;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px;
}

/* #banner-profile-pic2{
    text-align: ;
} */



